@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
        color :slategray;
    }
    .btn{
        background-color:slategray;
        color : white;
    }
h2{
    color:slategray;
}
</style>
<div class="jumbotron">
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
    <p class="lead">
        A student information system (SIS), student management system, school administration software or student administration system is a management information system for education establishments used to manage student data.

    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Guidenes For Students</h2>
        <p>
            The right kind of motivation helps you to achieve your goals and it encourages
            you to do more. The key is to understand that no matter how much you look
            around for motivation, the true motivation comes from you and with your
            decision to take the first step.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keys For Success</h2>
        <p>
            We will look at 3 keys to success that successful people are doing that you can model to program your mind to be in the state of succeeding from the moment upon waking, and make decisions throughout the day that will lead you towards your desires. 1. Write down Your Goals 2. Create a Powerful Belief System 3. Invest in Yourself
        </p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Creator</h2>
        <p>Bilal Shoukat </p>
        <p>Haris Tayyab </p>
    
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact info</h2>
        <p>Bilal Shoukat </p>
        <p>Contact: 03426884527</p>
        <p>Email: bilalshoukat0@gmail.com </p>
        <p> Haris tayyab</p>
        <p>Contact: 0312484202</p>
        <p>Email: haristayyab0@gmail.com </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>